<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- DefaultPushSource key is similar to the 'DefaultPushSource' key of NuGet.Config schema-->
    <!-- This can be used by administrators to prevent accidental publishing of packages to nuget.org -->
    <!--
    <config>
        <add key="DefaultPushSource" value="https://contoso.com/packages/" />
    </config>
    -->

    <!-- Default Package Sources -->
    <!-- They cannot be deleted or modified but can be disabled/enabled by user -->
    <!-- The following section is similar to 'packageSources' section of NuGet.Config schema -->
    <packageSources>
        <add key="EPiServerTom" value="http://nuget.episerver.com/feed/packages.svc/" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <!-- Default Package Sources that are disabled by default -->
    <!-- They cannot be modified or deleted either but can be enabled/disabled by user -->
    <!-- The following section is similar to 'disabledPackageSources' section of NuGet.Config schema -->
    <!-- The value part of the entry in 'disabledPackageSources' section has no effect -->
    <!--
    <disabledPackageSources>
        <add key="nuget.org" value="true" />
    </disabledPackageSources>
    -->
</configuration>